


.add_product_page{
  background: #dbdbdb;
 
  h1{
    color: mediumvioletred;
    text-align: center;
  }
  
  .add_product_form{
    max-width: 500px;
    margin: auto;
    //background: red;
    .input {
      display: flex;
      flex-direction: column;
      label {
        font-family: Heebo;
        display: block;
      }
  
      input {
        width: 100%;
        padding: 5px 5px;
      }
    }
  }
  
}

